{% extends 'client_side/base.html' %}
{% load register_customs %}

<script src="https://kit.fontawesome.com/d8d796b449.js" crossorigin="anonymous"></script>

{% block title %}
Medicines
{% endblock title %}

{% block content %}

<div class="medicine-title">Лекарства в корзине</div>

<div id="featured-wrapper">

    <div id="featured" class="extra2 margin-btm container">
        {% if medicines_in_cart %}
            <table>
                <thead>
                <tr>
                    <td>
                        <h2>Название</h2>
                    </td>
                    <td>
                        <h2>Производитель</h2>
                    </td>
                    <td>
                        <h2>Количество</h2>
                    </td>
                    <td>
                        <h2>Цена</h2>
                    </td>
                    <td>
                        <h2>Общая сумма</h2>
                    </td>
                    <td>
                        <h2>Удалить</h2>
                    </td>

                </tr>
                </thead>
                <tbody>
                    {% for medicine_in_cart in medicines_in_cart %}
                        <tr>
                            <td>
                                {% for manufacturer in medicine_in_cart.medicine.manufacturer.all %}
                                    {{ manufacturer }}
                                {% endfor %}
                            </td>


                            <td>
                                <a href="{% url 'medicine_detail' medicine_in_cart.medicine.slug %}">{{ medicine_in_cart.medicine.trade_name }}</a>
                            </td>
                            <td>
                                {{ medicine_in_cart.amount }}
                            </td>
                            <td>
                                {{ medicine_in_cart.medicine.price }} BYN
                            </td>
                            <td>
                               {{ medicine_in_cart.get_total_medicine_cost }}
                            </td>
                             <td>
                               <a href="{% url 'remove_from_cart' medicine_in_cart.id %}">Remove</a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <h2>ИТОГО: {{ cost }}</h2>
        {% else %}
            <h2>Товаров в корзине нет!</h2>
        {% endif %}
    </div>
    <p class="text-right">
        <a href="{% url 'medicines' %}" class="button light">На сайт заказа</a>
        <a href="#" class="button">Оформить заказ</a>
</div>

{% endblock content %}
