{% extends 'client_side/base.html' %}
{% load register_customs %}

<script src="https://kit.fontawesome.com/d8d796b449.js" crossorigin="anonymous"></script>

{% block title %}
Medicines
{% endblock title %}

{% block content %}

<div class="medicine-title" >Все лекарства</div>

<form action="" method="get">
   <div class="filter-set">{{ filterset.form.as_p }}</div>
    <div style="display: flex; justify-content: space-evenly;">
        <button  class="fa-solid fa-magnifying-glass">Найти</button>
    </div>
</form>




<div id="featured-wrapper">


    <div id="featured" class="extra2 margin-btm container">

        {% if medicines %}
            <table>
                <thead>
                <tr>
                    <td>
                        <h2>Название</h2>
                    </td>
                    <td>
                        <h2>Состав</h2>
                    </td>
                    <td>
                        <h2>Цена</h2>
                    </td>
                    <td>
                        <h2>Производитель</h2>
                    </td>
                </tr>
                </thead>
                <tbody>

                    {% for medicine in medicines %}
                        <tr>
                            <td>
                                <a href="{% url 'medicine_detail' medicine.slug %}">{{ medicine.trade_name }}</a>
                            </td>
                            <td>
                                {{ medicine.structure|truncatewords:2 }}
                            </td>
                            <td>
                                {{ medicine.price }} BYN
                            </td>
                            <td>
                                {% for manufacturer in medicine.manufacturer.all %}
                                    {{ manufacturer }}
                                {% endfor %}
                            </td>
                            <td>

                                <a class="fa-solid fa-cart-shopping"  title="Добавить в корзину" href="{% url 'add_to_cart' medicine.id %}"></a></h3>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>Товаров нет!</h2>
        {% endif %}

        {# Добавляем пагинацию на страницу #}
        <div class="pagination">
           {# Информация о предыдущих страницах #}
           {% if page_obj.has_previous %}
               {# Для каждой ссылки пагинации указываем обработку через новый тег #}
               <a href="?{% url_replace page=1 %}">1</a>
               {% if page_obj.previous_page_number != 1 %}
                   ...
                   <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
               {% endif %}
           {% endif %}

           <a href="?{% url_replace page=page_obj.number %}" class="active">{{ page_obj.number }}</a>

           {% if page_obj.has_next %}
               <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
               {% if paginator.num_pages != page_obj.next_page_number %}
                   ...
                   <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
               {% endif %}
           {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
