
{% extends 'client_side/base.html' %}



<script src="https://kit.fontawesome.com/d8d796b449.js" crossorigin="anonymous"></script>



{% block title %} {{medicine.trade_name}} {% endblock %}


{% block content %}
<div class="medicine-title">{{medicine.trade_name}}</div>
<div id="featured-wrapper">
    <div id="featured" class="extra2 margin-btm container">
        <a href="{% url 'medicines' %}" class="back"><button >Назад</button></a>
        <div class="detail-set"><h1>Название лекарства: </h1>
            <h1 class="green"> {{medicine.trade_name}} </h1>
        </div>
        <div class="detail-set"><h1>Международное название: </h1>
            <h1 class="green"> {{medicine.international_name}}</h1>
        </div>

        <div class="detail-set"><h1>Состав лекарства: </h1>
            <h1 class="green"> {{medicine.structure}}</h1>
        </div>

        <div class="detail-set"><h1>Стоимость лекарства: </h1>
            <h1 class="green"> {{medicine.price}} BYN</h1>
        </div>

        <div class="detail-set"><h1>Условия отпуска: </h1>
            {% if medicine.with_recipe is True %}
                <h1 class="green"> По рецепту врача </h1>
            {% else %}
                <h1 class="green"> Без рецепта </h1>
            {% endif %}
        </div>

        <div class="detail-set"><h1>Производитель лекарства:  </h1>
            {% for manufacturer in medicine.manufacturer.all %}
               <h1 class="green"> {{ manufacturer }}</h1>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
