{% extends 'base.html' %}


{% block title %} {{medicine.trade_name}} {% endblock %}


{% block content %}
<div class="medicine-title">{{medicine.trade_name}}</div>
<div id="featured-wrapper">
    <div id="featured" class="extra2 margin-btm container">

        <div class="detail-set"><h1>Название лекарства: </h1>
            <h1 class="green"> {{medicine.trade_name}} </h1>
        </div>

        <div class="detail-set"><h1>Международное название: </h1>
            <h1 class="green"> {{medicine.international_name}}</h1>
        </div>

        <div class="detail-set"><h1>Состав лекарства: </h1>
            <h1 class="green"> {{medicine.structure}}</h1>
        </div>

        <div class="detail-set"><h1>Стоимость лекарства: </h1>
            <h1 class="green"> {{medicine.price}} BYN</h1>
        </div>

        <div class="detail-set"><h1>Производитель лекарства:  </h1>
            {% for manufacturer in medicine.manufacturer.all %}
               <h1 class="green"> {{ manufacturer }}</h1>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
