
.button-medicine{
    background-color:yellow;
}

b{
    color:blue;
}

.change{
    background-color: green;

}

.delete{
    background-color: red;

}

input {
    color:green;
    background-color: white;
}

